.navbar{
    width: 100%;
    position: fixed;
    display: block;
    overflow: hidden;
}
.navbar1{ 
    width: 100%;
    position: fixed;
    padding: 1rem;
    height: 2rem;
    background-image: linear-gradient(
    180deg
    ,#1b2530 0,rgba(27,37,48,.85));
    background-repeat: repeat-x;
    display: block;
    overflow: hidden;
}
.logo{
    background: #1d2630;
    position: fixed;
    width: 11rem;
    height: 3rem;
}

.searchbar{background-color: white;
    border-color:white;
    margin-top: 0rem;
    width: 40rem;
    position: fixed;
    margin-left: 16rem;
    height: 1.5rem;
    border-radius: 4px;
}


.searchbtn{
    width: 10rem;
    background-color: orange;
    border-color: orange;
    
    float: left;
    margin-left: 56rem;
    width: 3rem;
    border-radius: 0.3rem;
    height: 1.8rem;
}
.hdr1{background-color: #1c2530;
    padding-right: 0rem;
    color: #45ccffd6;
    font-size: 1.3rem;
    margin-left: 61rem;
    margin-right: 15rem;
    position: fixed;
}
.hdr2{
    background-color: #1c2530;
    font-family: -webkit-pictograph;
    margin-top: 0.1rem;
    color: white;
    font-size: 1.1rem;
    margin-right: -1rem;
    margin-left: 69rem;
}
.navbar2{    padding: 1rem;
    height: 4.8rem;
    background-image: linear-gradient( 
180deg
 ,#1b2530 0,rgba(27,37,48,.85));
    background-repeat: repeat-x;
    display: -webkit-box;
    overflow: hidden;
    
}