*{ 
     /* background-color: #1d1d1fe8; */
    padding: 0;
    margin: 0;
    color: white;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #111;
  }
  