.banner{
   
   overflow: hidden;
  display: flex;
    height: 30rem;
    background-image: linear-gradient( 
180deg
 ,#1b2530 0,rgba(27,37,48,.85));
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: space-between;
   
    width: 100%;
}
.banner-video{
    padding-top: 8vh;
    overflow: hidden;
    background-size: cover;
    position: unset;
    width: 61vw;
    height: 100%;
    align-content: center;
    background-size: 100% 100%;
}

.banner-img {
    overflow: hidden;
    margin-top: 2vh;
    background-size: cover;
    position: unset;
  
    width: 75%;
    align-content: center;
   
    background-size: 100% 100%;
}
.title {
    font-weight: normal;
    background: none;
    font-size: xx-large;
    position: absolute;
    margin-left: 1em;
    margin-top: 16rem;
}
    

.para {
    -webkit-text-stroke: thin;
    font-weight: normal;
    background: none;
    position: absolute;
    font-size: 2vh;
    margin-left: 2rem;
    margin-top: 22rem;
    max-width: 50vw;
    overflow: hidden;
    height: 11vh;
}
.fade{
    height: 7rem;
    background-image: linear-gradient(180deg,transparent,rgba(37,37,37,.61),#111);
}
